html
  head
    style
      include ../css/index.css
      include ../vendor/bootstrap/css/bootstrap.min.css

    title START

  body
    div(class="outer")
        div(class="middle")
            div(class="inner")
                a(id='link' class='button' href="/questions/0") START

    
        