html
  head
    style
      include ../css/index.css
      include ../css/bootstrap.min.css

  link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet')

  title START

  body
    div(class="outer")
        div(class="middle")
            div(class="inner")
                a(id='link' class='button' href="/questions/0") START QUIZ

    
        