html
  head
    style
      include ../css/index.css
      include ../vendor/bootstrap/css/bootstrap.min.css

    title knowledgebase
    link(href='/cssSidebar/simple-sidebar.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(href='simple-sidebar.css', rel='stylesheet', type='text/css')

  body
    block content


script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')