body{
    background: url(socialmedia.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    margin-left: 0;
    font-family: 'Maven Pro', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313131;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 150%;
}

li a:hover:not(.active) {
    background-color: #000000;
    color: white;
}

.button{
    font-family: 'Maven Pro', sans-serif;
    background-color: black;
    border: none;
    color: white;
    padding: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 265% 360%;
    cursor: pointer;
    border-radius: 24px;
    width: 150px;
    opacity: 0.8;
    transition: all 0.6s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.active {
    background-color: #000060;
}